.home_second_layer {
  width: 100%;
  height: 60vw;
  background-color: #020010;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home_second_layer .containerCard {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}

.home_second_layer .containerCard .card {
  margin: 6vw;
  height: 35vw;
  width: 20vw;
  img {
    width: 142px;
    height: 81px;
  }
  background: #0A0335;
}

.home_second_layer .containerCard .card:first-child {
  background-color: #0A0335;
}

.home_second_layer .containerCard .card:nth-child(3) {
  background-color: #0A0335;
}


.home_second_layer h1 {
  color: #fff;
}