.HomeSecondLayers {
  width: 100%;
  height: 60vw;
  background-color: #020010;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.HomeSecondLayers .containerCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomeSecondLayers .containerCard .card {
  margin: 1.5vw;
  height: 30vw;
  width: 25vw;
  background: none;
}

.HomeSecondLayers .containerCard .card .content-card {
  background: linear-gradient(180deg, rgba(32, 15, 137, 0.60) 0%, rgba(10, 3, 53, 0.30) 100%);  border-radius: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5vw;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out, transform 0.25s ease-in-out;
  will-change: contents;
}

 .HomeSecondLayers .containerCard .card .content-card:hover {
  transition: transition 0s linear, box-shadow 0.5s ease-in-out;
}

.HomeSecondLayers .containerCard .card:first-child .content-card {
  background: linear-gradient(155deg, #13075E 0%, rgba(10, 3, 53, 0.20) 100%, rgba(10, 3, 53, 0.37) 100%);
}

.HomeSecondLayers .containerCard .card:nth-child(3) .content-card {
  background: linear-gradient(205deg, #13075E 0%, rgba(10, 3, 53, 0.20) 100%);
}

.HomeSecondLayers .containerCard .card img {
  border-radius: 50%;
  object-fit: cover;
  width: 8vw;
  height: 8vw;
  margin-top: 3.5vw;
  margin-bottom: 2.5vw;
}

.HomeSecondLayers h1.title {
  color: #fff;
  text-decoration: underline;
}

.HomeSecondLayers p {
  text-align: center;
}

.HomeSecondLayers .card .bg-animate {
  position: absolute;
  width: 550px;
  height: 550px;
  background: #474cb3;
  filter: blur(180px);
  border-radius: 300px;
  opacity: 0;
  transition: opacity 1.2s cubic-bezier(0.16, 1, 0.3, 1);
  mix-blend-mode: soft-light;
  will-change: contents;
  z-index: -1;
}

.HomeSecondLayers .card:hover .bg-animate {
  opacity: 0.85;
}

@media screen and (max-width:1000px) {
  .HomeSecondLayers {
    height: min-content;
    margin-top: 15vw;
  }

  .HomeSecondLayers .containerCard {
    flex-direction: column;
  }

  .HomeSecondLayers .containerCard .card {
    margin: 15vw 0;
    height: 100vw;
    width: 75vw;
    background: none;
  }

  .HomeSecondLayers .containerCard .card img {
    width: 16vw;
    height: 16vw;
    margin-top: 6vw;
    margin-bottom: 5vw;
  }
}

@media screen and (max-width: 680px) {

.HomeSecondLayers .containerCard .card {
    height: 120vw;
    width: 90vw;
    background: none;
  }

  .HomeSecondLayers .containerCard .card img {
    width: 24vw;
    height: 24vw;
    margin-top: 9.5vw;
    margin-bottom: 7.5vw;
  }
}