.first_layer_project_anglais {
  width: 100%;
  height: 35vw;
  background-color: #020010;
}

.first_layer_project_anglais .container {
  padding: 2.5vw 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first_layer_project_anglais p,
.first_layer_project_anglais h1 {
  color: #fff;
  font-size : 1.7rem
}

.first_layer_project_anglais .desc {
  display: flex ;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* max-width: 900px; */
  height: 100%;
}

.first_layer_project_anglais .desc img {
  margin: 2vw;
  border-radius: 50%;
  object-fit: cover;
  height: 15vw;
  width: 15vw;
}

@media screen and (max-width: 1300px) {
  .first_layer_project_anglais .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


  }

  .first_layer_project_anglais .desc p {
    font-size: 1.3rem;
  }

  .first_layer_project_anglais {
    height: unset;
  }



}

@media screen and (max-width: 915px) {
  .first_layer_project_anglais .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


  }

  .first_layer_project_anglais .desc p {
    font-size: 0.7rem;
  }

  .first_layer_project_anglais {
    height: unset;
  }



}

@media screen and (max-width: 515px) {
  .first_layer_project_anglais .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


  }

  .first_layer_project_anglais .desc p {
    font-size: 0.5rem;
  }

  .first_layer_project_anglais {
    height: unset;
  }



}

@media screen and (max-width: 306px) {
  .first_layer_project_anglais .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


  }

  .first_layer_project_anglais .desc p {
    font-size: 0.3rem;
  }

  .first_layer_project_anglais {
    height: unset;
  }

  .first_layer_project_anglais .container .titre h1 {
    font-size: 1rem;
  }
  



}