.first_layer_project_Film {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 7.5rem 0;
}

.first_layer_project_Film .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.first_layer_project_Film h1 {
  color: #fff;
  font-size : 1.7rem
}

.first_layer_project_Film .desc {
  display: flex ;
  align-items: center;
  justify-content: center;
}

.first_layer_project_Film .desc img {
  margin: 2vw;
  border-radius: 50%;
  object-fit: cover;
  height: 15vw;
  width: 15vw;
}

@media screen and (max-width:1300px) {
  .first_layer_project_Film .desc {
    flex-direction: column;
    margin-top: 5rem;
  }

  .first_layer_project_Film  p {
    text-align: center;
  }

 .first_layer_project_Film .desc img {
  height: 20vw;
  width: 20vw;
  margin-bottom: 2.5rem;
 }

}


@media screen and (max-width:500px) {
  .first_layer_project_Film h1 {
    font-size: 1.5rem;
  }

  .first_layer_project_Film  p {
    font-size: 0.9rem;
  }

  .first_layer_project_Film .desc img {
    height: 50vw;
    width: 50vw
   }
  

}

@media screen and (max-width:400px) {
  .first_layer_project_Film h1 {
    font-size: 1.4rem;
  }
  

}


@media screen and (max-width:350px) {
  .first_layer_project_Film h1 {
    font-size: 1.2rem;
  }

  .first_layer_project_Film p {
    font-size: 0.8rem;
  }

  .first_layer_project_Film .desc img {
    height: 45vw;
    width: 45vw
   }
}


@media screen and (max-width:300px) {
  .first_layer_project_Film h1 {
    font-size: 1rem;
  }
}