.first_layer_project_anglais {
  width: 100vw;
  height: 35vw;
  background-color: #020010;
}

.first_layer_project_anglais .container {
  padding: 2.5vw 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;s
}

.first_layer_project_anglais p,
.first_layer_project_anglais h1 {
  color: #fff;
  font-size : 1.7rem
}

.first_layer_project_anglais .desc {
  display: flex ;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* max-width: 900px; */
  height: 100%;
}

.first_layer_project_anglais .desc img {
  margin: 2vw;
  border-radius: 50%;
  object-fit: cover;
  height: 15vw;
  width: 15vw;
}