.First_layer_contact{
   cursor: default;
}

.First_layer_contact h1{
   text-decoration: underline;
   text-align: center;
   margin-top: 8vw;
}

.First_layer_contact h2{
   text-align: center;
   margin: 4vw 15vw 0 15vw;
} 
.First_layer_contact .groups{
   margin: 10vw 0 10vw 0;
   align-items: center;
   
}

.First_layer_contact .groups img,
.First_layer_contact .groups svg {
  width: 9vw;
}

.First_layer_contact .groups.second{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.First_layer_contact .groups.second p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}


.First_layer_contact .groups.second .part{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1vw 10vw 0 10vw;
    width: 90%;
}
@media screen and (max-width: 1300px) {
    }