.Second_layer_page_soutiens {
  margin-top: 5vw;
  min-height: 60vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  cursor: default;
}

.Second_layer_page_soutiens .title h1 {
  font-size: 3rem;
}

.Second_layer_page_soutiens .containerElement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5vw;
}

.Second_layer_page_soutiens .containerElement div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Second_layer_page_soutiens .containerElement div:nth-child(2),
.Second_layer_page_soutiens .containerElement div:nth-child(4)
  {
  flex-direction: row-reverse;
}

.Second_layer_page_soutiens .containerElement div div.SubContainer {
  margin: 5vw;
  flex-direction: column;
  width: 75%;
  position: relative;
}

.Second_layer_page_soutiens .containerElement div div.SubContainer:nth-child(2) {
  width: 25%;
}

.Second_layer_page_soutiens .containerElement div div.SubContainer p {
  margin-top: 2vw;
  font-size: 1rem;
  text-shadow: 0 0 0.5rem #000;
}

@keyframes discordNotiflogo {
  0% {
    transform: translateY(0) rotate(0);
  }

  5% {
    transform: translateY(-10%) rotate(0);
  }

  10% {
    transform: translateY(25%) rotate(0);
  }

  15% {
    transform: translateY(-10%) rotate(0);
  }

  20% {
    transform: translateY(25%) rotate(0);
  }

  40% {
    transform: translateY(25%) rotate(720deg);
  }

  100% {
    transform: translateY(0) rotate(720deg);
  }
}

@keyframes NotifDiscordlogo {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.Second_layer_page_soutiens .containerElement div div.SubContainer p:nth-child(1) {
  margin-top: 0;
  font-size: 1.5rem;
}

.Second_layer_page_soutiens .containerElement div div.SubContainer svg {
  position: absolute;
  width: 50%;
  animation: discordNotiflogo 4s infinite ease-in-out;
}

#notifLogoDiscord {
  animation: NotifDiscordlogo 4s infinite ease-in-out;
}

@media screen and (max-width: 1000px) {
  .Second_layer_page_soutiens {
    margin-top: 10vw;
  }

  .Second_layer_page_soutiens .containerElement div .SubContainer.svg {
    display: none;
  }

  .Second_layer_page_soutiens .containerElement div div.SubContainer {
    text-align: center;
  }
}


@media screen and (max-width: 680px) {

  .Second_layer_page_soutiens .title h1 {
    font-size: 2.5rem;
  }

  .Second_layer_page_soutiens .containerElement div div.SubContainer {
    width: 90%;
  }
}


@media screen and (max-width: 500px) {

  .Second_layer_page_soutiens .title h1 {
    font-size: 2rem;
  }

  .Second_layer_page_soutiens .containerElement div div.SubContainer p {
    font-size: 0.8rem;
  }

  .Second_layer_page_soutiens .containerElement div div.SubContainer {
    width: 90%;
  }
}

@media screen and (max-width: 310px) {

  .Second_layer_page_soutiens .title h1 {
    font-size: 1.8rem;
  }

  .Second_layer_page_soutiens .containerElement div div.SubContainer p {
    font-size: 0.8rem;
  }

  .Second_layer_page_soutiens .containerElement div div.SubContainer {
    width: 90%;
  }
}