.PageAnglais .backgroundFixedPageAnglais {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

.PageAnglais .backgroundFixedPageAnglais img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.025;
}