.FooterCompongnement {
  width: 100%;
  height: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.FooterCompongnement svg {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.FooterCompongnement .container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.FooterCompongnement .container .containerlink {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 1vw 0;
}

.FooterCompongnement .container .containerlink div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.FooterCompongnement .container .containerlink div.logo {
  flex-direction: row;
}

.FooterCompongnement p {
  cursor: pointer;
}

.FooterCompongnement img {
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  margin: 1vw;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.FooterCompongnement img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0.5vw #151324;
}

.FooterCompongnement .container .containerlink button {
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  margin: 0.5vw;
}

.FooterCompongnement .container .containerlink .button .belowButton {
  width: 0;
  height: 0.2rem;
  background:#eaffea;
  transition: all 0.2s;
  transform-origin: center;
  opacity: 0;
}

.FooterCompongnement .container .containerlink .button:hover .belowButton {
  width: 100%;
  opacity: 1;
}

.FooterCompongnement .container .containerlink .button:hover {
  box-shadow: 0 0 2rem #130f277d;
  background: #15112c23;
}

