.home_third_layer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home_third_layer .groups {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home_third_layer .groups img {
  margin: 0 0 0 5vw;
  border-radius: 2.3vw;
}

.home_third_layer .groups.revers img {
  margin: 0 5vw 0 0;
}

.home_third_layer .groups p {
  max-width: 800px;
}

.home_third_layer .groups.revers {
  flex-direction: row-reverse;
  margin-top: 5vw;
  margin-bottom: 6vw;
}

.home_third_layer p {
  max-width: 800px;
}

@media screen and (max-width: 1300px) {
  .home_third_layer .groups.revers {
    flex-direction: column-reverse; 
  }

  .home_third_layer .groups {
    flex-direction: column-reverse;
  }

  .home_third_layer .groups.revers img {
    margin: 0 0 3vw 0;
    max-width: 60%;
  }

  .home_third_layer .groups img {
    margin: 0 0 3vw 0;
    max-width: 60%;
  }
  
  .home_third_layer p {
    font-size: 0.8rem;
  }
}
